<!DOCTYPE html>
<html>
<head>
    <title>Форма</title>
</head>
<body>
    <h1>Заповніть форму</h1>
    <form action="/result" method="POST">
        <label for="name">Ім'я:</label><br>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>
        <label for="message">Повідомлення:</label><br>
        <textarea id="message" name="message"></textarea><br><br>
        <input type="submit" value="Відправити">
    </form>
</body>
</html>
